:root {
  --color-dark-pink: #ba4270;
  --color-water-white: #fbfcfe;
  --color-san-juan-blue: #36536b;
  --color-mirage-blue: #1b262f;
  --color-charm-pink: #da6d97;
  --color-light-san-juan-blue: #6c8294;

  --font-serif: "DM Serif Display", serif;
  --font-sans: "Public Sans", sans-serif;

  --fs-h1-large: 4.5rem;
  --fs-h1-small: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3-large: 2rem;
  --fs-h3-small: 1.125rem;
  --fs-h4: 1.5rem;
  --fs-body: 0.9375rem;

  --lh-body: 1.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Page */

.homePageContainer {
  background-image: url("/assets/shared/desktop/bg-pattern-circle.svg");
  background-position: center -35rem;
  background-size: 48.75rem 48.75rem;
  background-repeat: no-repeat;
  background-color: #edf3f8;
}

@media (min-width: 1000px) {
  .homePageContainer {
    background-position: 140% -12rem;
  }
}

.menuBarContainer {
  padding: 2.5rem 1.5rem;
  height: 2.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopMenuBarLHS {
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 600px) {
  .menuBarContainer {
    padding: 3rem 2rem;
    height: 3rem;
  }

  @media (min-width: 1200px) {
    .menuBarContainer {
      padding: 3rem 7rem;
    }
  }

  .menuBarContainer nav {
    width: 25rem;
    max-width: 35%;
    display: flex;
    justify-content: space-between;
  }

  .menuBarContainer nav a {
    font-weight: bold;
    font-size: var(--fs-body);
    font-family: var(--font-sans);
    color: var(--color-san-juan-blue);
    opacity: 0.7;
    text-decoration: none;
  }

  .menuBarContainer button {
    width: 10rem;
    max-width: 30%;
    height: 3rem;
    background-color: var(--color-dark-pink);
    color: var(--color-water-white);
    font-weight: bold;
    font-size: var(--fs-body);
    letter-spacing: -0.12px;
    border: none;
    border-radius: 1.5rem;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .heroContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 4rem;
  }
}

.heroContainer img {
  width: 10rem;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .heroContainer img {
    width: 15rem;
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .heroContainer img {
    width: 40%;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .heroContainer img {
    width: 40%;
    margin-top: 0;
    margin-right: 5rem;
  }
}

.heroContainerCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 1.5rem;
  gap: 1rem;
  margin-bottom: 4rem;
}

@media (min-width: 1200px) {
  .heroContainerCTA {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    padding-left: 2rem;
    text-align: left;
  }
}

.heroContainerCTA h2 {
  font-size: 2rem;
  letter-spacing: -0.25px;
  color: var(--color-san-juan-blue);
  text-align: center;
  font-family: var(--font-serif);
}

@media (min-width: 600px) {
  .heroContainerCTA h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.37px;
  }
}

@media (min-width: 1200px) {
  .heroContainerCTA h2 {
    font-size: var(--fs-h1-large);
    line-height: 4.5rem;
    letter-spacing: -0.55px;
    text-align: left;
    width: 90%;
    margin-bottom: 1.5rem;
  }
}

.heroContainerCTA input {
  width: 100%;
  height: 3rem;
  padding-left: 1.75rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 3px 10px #6c829420;
  margin-bottom: 1rem;
}

.heroContainerCTA input::placeholder {
  font-size: var(--fs-body);
  font-weight: bold;
  font-family: var(--font-sans);
  color: var(--color-san-juan-blue);
  opacity: 0.7;
}

.heroContainerCTA button {
  width: 100%;
  height: 3rem;
  font-weight: bold;
  font-family: var(--font-sans);
  font-size: var(--fs-body);
  color: var(--color-water-white);
  background-color: var(--color-dark-pink);
  letter-spacing: -0.12px;
  border: none;
  border-radius: 1.5rem;
}

@media (min-width: 600px) {
  .ctaContainer {
    display: flex;
    width: 80%;
  }

  .heroContainerCTA input {
  }

  .heroContainerCTA button {
    position: absolute;
    right: 5rem;
    width: 10rem;
    height: 3rem;
    background-color: var(--color-dark-pink);
    color: var(--color-water-white);
    font-weight: bold;
    font-size: var(--fs-body);
    letter-spacing: -0.12px;
    border: none;
    border-radius: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .ctaContainer {
    display: flex;
  }

  .heroContainerBottom input {
    margin-bottom: 0.5rem;
  }

  .heroContainerCTA button {
    position: relative;
    right: 5rem;
    width: 15rem;
    height: 3rem;
    background-color: var(--color-dark-pink);
    color: var(--color-water-white);
    font-weight: bold;
    font-size: var(--fs-body);
    letter-spacing: -0.12px;
    border: none;
    border-radius: 1.5rem;
  }
}

.heroContainerCTA p {
  font-size: var(--fs-body);
  font-family: var(--font-sans);
  color: var(--color-light-san-juan-blue);
}

.heroContainerCTA a {
  text-decoration: none;
  color: var(--color-light-san-juan-blue);
}

@media (min-width: 1200px) {
  .heroContainerCTA p {
    margin-left: 1.75rem;
  }
}

.partnersContainer {
  background-color: var(--color-mirage-blue);
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 600px) {
  .partnersContainer {
    padding: 4rem 5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .partnersContainer {
    padding: 4rem 7rem;
    margin-bottom: 5rem;
    flex-direction: row-reverse;
  }
}

.logosContainer {
  width: 17.5rem;
  height: 9.625rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2.5rem;
}

.logosContainer img {
  width: 7rem;
}

@media (min-width: 600px) {
  .logosContainer {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.partnersInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 1200px) {
  .partnersInfo {
    align-items: flex-start;
  }

  .partnersInfoBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.partnersContainer h3 {
  font-size: var(--fs-h3-large);
  font-family: var(--font-serif);
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--color-water-white);
  margin-bottom: 1rem;
}

.partnersContainer p {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-water-white);
  opacity: 0.7;
  text-align: center;
  font-family: var(--font-sans);
}

.partnersContainer button {
  width: 40%;
  height: 3rem;
  background-color: transparent;
  border: 1px solid var(--color-water-white);
  border-radius: 1.5rem;
  color: var(--color-water-white);
  font-weight: bold;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .partnersContainer h3 {
    font-size: var(--fs-h2);
  }

  .partnersContainer button {
    width: 30%;
  }
}

@media (min-width: 600px) {
  .partnersContainer p {
    width: 85%;
    text-align: left;
  }

  .partnersContainer button {
    width: 25%;
  }
}

.easyToImplementContainer {
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .easyToImplementContainer {
    padding: 3rem;
  }

  .simpleUiUxContainer {
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  .desktopContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .easyToImplementContainer {
    flex-direction: row;
    gap: 6rem;
  }
}

.easyToImplementContainer img {
  box-shadow: 25px 25px 80px 0 rgba(54, 83, 107, 40%);
  margin-bottom: 2.5rem;
}

.easyToImplementContainer h2,
.simpleUiUxContainer h2 {
  font-size: var(--fs-h3-large);
  color: var(--color-san-juan-blue);
  line-height: 2.125rem;
  letter-spacing: -0.28px;
  font-family: var(--font-serif);
  text-align: center;
  margin-bottom: 1.5rem;
}

.easyToImplementContainer p,
.simpleUiUxContainer p {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-light-san-juan-blue);
  text-align: center;
}

@media (min-width: 600px) {
  .easyToImplementContainer img {
    width: 65%;
  }

  .easyToImplementContainer h2,
  .simpleUiUxContainer h2 {
    font-size: var(--fs-h2);
    line-height: 3.5rem;
    letter-spacing: -0.37px;
  }

  .easyToImplementContainer p,
  .simpleUiUxContainer p {
    width: 95%;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .easyToImplementContainer img {
    width: 75%;
    margin-left: 12.5%;
  }

  .easyToImplementContainer h2 {
    text-align: left;
  }

  .easyToImplementContainer p {
    width: 70%;
    text-align: left;
  }
}

.simpleUiUxContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simpleUiUxContainer img {
  width: 100%;
}

@media (min-width: 1200px) {
  .simpleUiUxContainer {
    flex-direction: row-reverse;
  }

  .simpleUiUxContainer img {
    width: 45%;
  }

  .simpleUiUxContainer h2 {
    text-align: left;
    margin-left: 7rem;
  }

  .simpleUiUxContainer p {
    text-align: left;
    margin-left: 7rem;
    width: 70%;
  }
}

.advantagesContainer {
  padding: 4rem 1.5rem;
}

@media (min-width: 768px) {
  .advantagesContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .advantagesContainer {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

.advantageItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .advantageItemContainer {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.advantageItemContainer img {
  margin-bottom: 2.5rem;
}

.advantageItemContainer h4 {
  font-weight: bold;
  font-size: var(--fs-h3-small);
  line-height: 1.5rem;
  letter-spacing: -0.14px;
  color: var(--color-san-juan-blue);
  font-family: var(--font-sans);
  margin-bottom: 1.5rem;
}

.advantageItemContainer p {
  font-size: var(--fs-body);
  line-height: 1.5rem;
  letter-spacing: -0.12px;
  color: var(--color-light-san-juan-blue);
  font-family: var(--font-sans);
  text-align: center;
}

@media (min-width: 1200px) {
  .heroContainerHeading {
    font-size: var(--fs-h2) !important;
  }

  .heroContainerBottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .heroContainerBottom button {
    right: 6.5rem;
  }
}

footer {
  height: 22rem;
  padding: 2rem;
  margin-top: 3rem;
  background-color: var(--color-mirage-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  footer {
    height: 6.25rem;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  footer {
    padding: 0 7rem;
  }
}

.footerLogo {
  filter: grayscale(1);
}

footer nav {
  height: 7.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  footer nav {
    height: fit-content;
    flex-direction: row;
    width: 40%;
  }
}

@media (min-width: 1200px) {
  footer nav {
    height: fit-content;
    flex-direction: row;
    gap: 1.5rem;
  }
}

footer nav h4 {
  font-weight: bold;
  font-size: var(--fs-body);
  color: var(--color-water-white);
  opacity: 0.7;
  font-family: var(--font-sans);
  text-align: center;
}

footer .smIcons {
  width: 7.5rem;
  display: flex;
  justify-content: space-between;
}

footer .smIcons img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Pricing Page */

.pageContainer {
  background-image: url("/assets/shared/desktop/bg-pattern-circle.svg");
  background-position: -40% -35rem;
  background-size: 48.75rem 48.75rem;
  background-repeat: no-repeat;
  background-color: #edf3f8;
}

.mainHeading {
  font-size: var(--fs-h3-large);
  font-family: var(--font-serif);
  color: var(--color-san-juan-blue);
  letter-spacing: -0.25px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 600px) {
  .pricingPlans {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }
}

.pricingPlanItemContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.pricingPlanItemContainer h3 {
  font-size: var(--fs-h4);
  font-family: var(--font-serif);
  line-height: 2rem;
  letter-spacing: -0.18px;
  color: var(--color-dark-pink);
  margin-bottom: 5rem;
}

.pricingPlanItemContainer h2 {
  font-size: var(--fs-h1-small);
  line-height: 4.5rem;
  letter-spacing: -0.43px;
  margin-bottom: 1rem;
  font-family: var(--font-serif);
}

hr {
  width: 100%;
  height: 1px;
  color: #36536b25;
  margin-bottom: 1.5rem;
  /* margin-top: 1.5rem; */
}

.pricingPlanItemContainer .planIncludedContainer {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-start;
  width: 8.75rem;
}

.pricingPlanItemContainer .planIncludedContainer p {
  text-align: left;
  font-size: 1rem;
  font-family: var(--font-sans);
  color: var(--color-san-juan-blue);
}

.pricingPlanItemContainer .planIncludedContainer {
  margin-bottom: 0.75rem;
}

.pricingPlanItemContainer button {
  width: 50%;
  background-color: transparent;
  height: 3rem;
  border: 1px solid var(--color-san-juan-blue);
  border-radius: 1.5rem;
  color: var(--color-san-juan-blue);
  font-weight: bold;
  letter-spacing: -0.12px;
  font-size: var(--fs-body);
  font-family: var(--font-sans);
}

.pricingPlanItemContainer {
  margin-bottom: 5rem;
}

@media (min-width: 700px) {
  .pricingPlanItemContainer h3 {
    margin-bottom: 1rem;
  }

  .pricingPlanItemContainer h2 {
    font-size: var(--fs-h2);
  }

  .pricingPlanItemContainer .planIncludedContainer p {
    margin-bottom: 0.5rem;
  }

  .pricingPlanItemContainer button {
    width: 100%;
  }
}

.pricingPlanItemContainer > p {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-light-san-juan-blue);
  font-family: var(--font-sans);
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .mainHeading {
    font-size: var(--fs-h1-small);
    text-align: left;
    margin-left: 7rem !important;
    max-width: 45rem;
  }

  .pricingPlans {
    margin-left: 7rem !important;
    margin-right: 7rem;
    display: flex;
    justify-content: flex-start;
    width: calc(100vw - 14rem);
  }

  .pricingPlanItemContainer {
    display: flex;
    align-items: flex-start;
    width: 75%;
    padding: 0;
  }

  .pricingPlanItemContainer > p {
    text-align: left;
  }

  .pricingPlanItemContainer button {
    width: 75%;
  }
}

/* About Page */

.mainHeading {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 600px) {
  .mainHeading {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.aboutItemContainer {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.aboutItemContainer h4 {
  font-size: var(--fs-h4);
  line-height: 2rem;
  letter-spacing: -0.18px;
  color: var(--color-san-juan-blue);
  text-align: center;
  font-family: var(--font-serif);
}

.aboutItemContainer p {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-light-san-juan-blue);
  text-align: center;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .aboutItemContainer {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 3rem;
    align-items: flex-start;
  }

  .aboutItemContainer h4 {
    font-size: var(--fs-h3-small);
    text-align: left;
  }

  .aboutItemContainer p {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .aboutItemContainer {
    margin-left: 7rem;
    margin-right: 7rem;
    max-width: 58rem;
  }

  .aboutItemContainer h4 {
    font-size: var(--fs-h3-large);
  }
}

.image {
  background-image: url("/assets/about/mobile/image-team-members.jpg");
  background-size: cover;
  height: 18.75rem;
}

@media (min-width: 600px) {
  .image {
    background-image: url("/assets/about/tablet/image-team-members.jpg");
    background-size: cover;
    height: 17rem;
  }
}

@media (min-width: 1200px) {
  .image {
    background-image: url("/assets/about/desktop/image-team-members.jpg");
    background-size: cover;
    height: 30rem;
  }
}

.statisticsContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid #36536b25;
  border-bottom: 1px solid #36536b25;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic h5 {
  font-size: 1rem;
  line-height: var(--lh-body);
  color: var(--color-san-juan-blue);
  opacity: 0.7;
  font-family: var(--font-sans);
}

.statistic h3 {
  font-size: var(--fs-h1-small);
  line-height: 4.5rem;
  color: var(--color-dark-pink);
  font-family: var(--font-serif);
  letter-spacing: -0.43px;
}

@media (min-width: 700px) {
  .statisticsContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .statistics {
    border: none;
    padding: none;
    margin: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .statistic {
    border-bottom: 1px solid #36536b25;
    border-top: 1px solid #36536b25;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    align-items: flex-start;
  }
}
